/****** Main Styling ******/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222;
  background-color: rgb(124, 156, 130);
  text-align: center;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

.container-social {
  background-color: #333;
  width: 100%;
  padding: 5px 30px 5px 0px;
  margin: 0;
  box-sizing: border-box;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: 1.0;
  display: inline-block;
  margin: 0;
}

.text-right {
  text-align: right;
}

.social-list li a {
  font-size: 24px;
  margin-right: 25px;
}

i {
  color: #f0f1e9;
}

i:hover {
  color: #ffdc00;
}

h1,
h2,
h3 {
  margin-top: 50px;
}

h2 {
  font-style: italic;
}

.footer {
  margin-top: 40px;
}


ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.5em;
}


a {
  color: rgb(39, 37, 126);
}

a:visited {
  color: rgb(28, 80, 94);
}

form {
  border: solid 1px #222;
  border-radius: 15px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
  background-color: aliceblue;
}

label {
  margin-right: 10px;
}

input {
  padding: 10px;
}

input[type=text] {
  width: 220px;
  text-align: left;
  border-radius: 5px;
}

input[type=submit] {
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  background-color: rgb(78, 123, 126);
  color: #f0f1e9;

}